* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: #f4f6f8;
  text-align: center;
}

header {
  background: linear-gradient(135deg, #d62566, #42adca);
  color: white;
  padding: 30px 20px;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    gap: 20px; /* espacio entre tarjetas */
    justify-content: center; /* centra las tarjetas */
    padding: 20px;
}

main .tarjeta {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);

  width: 250px; /* ancho fijo para cada tarjeta */
  margin: 0 auto; /* opcional: centra la tarjeta dentro de la columna */
  
}

main .tarjeta img {
  width: 80px;
  margin-bottom: 10px;
}

button {
  margin: 20px;
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

footer {
  background-color:  #dd6cb5;;
  color: white;
  padding: 15px;
}


