* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: #f4f6f8;
  text-align: center;
}

header {
  background: linear-gradient(135deg, #d62566, #42adca);
  color: white;
  padding: 30px 20px;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

main .tarjeta {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

main .tarjeta img {
  width: 80px;
  margin-bottom: 15px;
  border-radius: 50%;
  border: 4px solid rgb(238, 218, 221);

}

button {
  margin: 20px;
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  background-color:  #3f86d3;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color:  #3f86d3;
}

footer {
  background-color:  #dd6cb5;;
  color: white;
  padding: 15px;
}


